@media only screen {
  body {
    margin: 0;
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .cadastros {
    width: 89%;
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #18272F;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #10181d;
  }


  .navbar_login {
    padding: 2.5rem;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
  }

  .texto_navbar {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  .texto_navbar:hover {
    color: #5a78c4;
    transform: translate(5px)
  }

  .first_page {
    margin-top: 20px;
  }

  .div_logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .logo_login {
    width: 25%;
  }

  .logo_login:hover {
    cursor: pointer;
  }

  .div_login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs_login {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .caixa_inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    right: 2.5vw;
    height: auto;
  }

  .inputs_login_esquerda,
  .inputs_login_direita {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
  }

  /* Formulario de cadastro */

  #fechar {
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    font-weight: bold;
    color: #f0f0f0;
    margin-left: 408px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 1%;
    font-family: cursive;
  }

  form .page .field .close_disc {
    background-color: transparent;
    border-color: transparent;
    font-size: 19px;
    font-weight: bold;
    color: #f0f0f0;
    /* margin-right: 426px; */
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: -2%;
    font-family: cursive;
    /* margin-right: 31px; */
    left: 230px;
  }

  #disco {
    top: -108px;
    width: 500px;
    height: 46vh;
    background-color: #232323;
    left: -277px;
    position: absolute;
    z-index: 999;
  }

  #ram {
    top: -194px;
    width: 500px;
    height: 46vh;
    background-color: #232323;
    left: -277px;
    position: absolute;
    z-index: 999;
  }

  #ram2 {
    top: -262px;
    width: 500px;
    height: 46vh;
    background-color: #232323;
    left: -277px;
    position: absolute;
    z-index: 999;
  }

  #disco2 {
    top: -178px;
    width: 500px;
    height: 46vh;
    background-color: #232323;
    left: -277px;
    position: absolute;
    z-index: 999;
  }

  form .page .field .close_disc:hover {
    background-color: transparent;
    border-color: transparent;
    font-size: 19px;
    font-weight: bold;
    color: #f0f0f0;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: -2%;
    font-family: cursive;
  }

  form .page .field .close_ram {
    background-color: transparent;
    border-color: transparent;
    font-size: 19px;
    font-weight: bold;
    color: #f0f0f0;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: -2%;
    font-family: cursive;
    left: 230px;
  }

  form .page .field .close_ram:hover {
    background-color: transparent;
    border-color: transparent;
    font-size: 19px;
    font-weight: bold;
    color: #f0f0f0;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: -2%;
    font-family: cursive;
  }

  .register {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .cadastrar_novo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D1D20;
    border-right: #f7e11b 2px solid;
  }

  .cadastrar_novo button {
    width: 37%;
    height: 50px;
    border: none;
    background: #f7e11b;
    position: relative;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }

  .cadastrar_novo button:hover {
    background-color: black;
    border-color: transparent;
    font-size: 19px;
    color: #f0f0f0;
    cursor: pointer;
  }

  .cadastrar_novo h1 {
    margin-bottom: 0px;
  }

  .cadastrar_novo span {
    text-align: center;
    padding: 5%;
  }

  .cadastrar_exixtente {
    background-color: #1D1D20;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cadastrar_exixtente button {
    width: 37%;
    height: 50px;
    border: none;
    background: #f7e11b;
    position: relative;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }

  .cadastrar_exixtente button:hover {
    background-color: black;
    border-color: transparent;
    font-size: 19px;
    color: #f0f0f0;
    cursor: pointer;
  }

  #frts img {
    width: 27px;
    height: 23px;
    margin-left: 14px;
    margin-right: 18px;
  }

  .cadastrar_exixtente h1 {
    margin-bottom: 0px;
  }

  .cadastrar_exixtente span {
    text-align: center;
    padding: 5%;
  }

  .container {
    background: #161618;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    width: 74.5%;
    height: 82vh;
    z-index: 999;
    position: absolute;
  }

  #cadastrar_novo_usuario2 #butao {
    margin-top: 12vh;
    left: 232px;
  }

  #page2 {
    margin-top: 0%;
  }

  #info_maquina2 {
    margin-left: -22px;
  }

  #feild {
    left: 12vh;
  }

  /* width: 444%; 
  left: 12vh;*/

  #cadastrar_novo_usuario {
    display: none;
  }

  #cadastrar_novo_usuario2 {
    display: none;
  }

  #caixaid {
    right: 5.8vw;
  }

  .container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: #fff;
    position: relative;
    right: 0.5vw;
  }

  .container .form-outer {
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
  }

  #info_maquina {
    margin-left: -161px;
  }

  #info_adicional {
    margin-left: -169px;
  }


  .container .form-outer form {
    display: flex;
    width: 400%;
  }

  .form-outer form .page {
    width: 26%;
    transition: margin-left 0.3s ease-in-out;
    margin-top: 30px;
  }

  .form-outer form .page .title {
    margin-left: -55px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
  }

  .form-outer form .page .field {
    width: 300px;
    margin: 16px 0;
    display: flex;
    position: relative;
    left: 2vh;
  }

  form .page .field select {
    width: 19.5rem;
    padding-left: 3.5rem;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #ffffff;
    height: 51px;
    background-color: transparent;
    outline: 2px solid #f7e11b;
    align-items: center;
    color: #fdfafa;
  }

  option {
    background-color: #000000e3;
  }

  select option:hover {
    background-color: lime;
  }

  .input__label4 {
    position: absolute;
    bottom: 8vh;
    right: 19vw;
  }

  form .page .field button {
    width: 100%;
    height: 50px;
    border: none;
    background: #f7e11b;
    position: relative;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }

  form .page .field button img {
    width: 100%;
    display: flex;
    align-items: center;
  }

  form .page .field .btnsinfo {
    background-color: transparent;
    margin-left: 5px;
  }

  form .page .field #salvar_ram {
    width: 24%;
    background: #f7e11b;
    height: 39px;
    font-size: 15px;
    position: absolute;
    z-index: 999;
    top: 277px;
    left: 190px;
  }

  form .page .field #salvar_disc {
    width: 24%;
    background: #f7e11b;
    height: 39px;
    font-size: 15px;
    position: absolute;
    z-index: 999;
    top: 277px;
    left: 190px;
  }

  #info_ram {
    display: none;
  }

  #info_disc {
    display: none;
  }

  #info_ram2 {
    display: none;
  }

  #info_disc2 {
    display: none;
  }

  #disco .slider {
    overflow-y: scroll;
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 21px;
  }

  #ram .slider {
    overflow-y: scroll;
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 21px;
  }

  #ram2_slider {
    overflow-y: scroll;
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 21px;
  }

  #disc2_slider {
    overflow-y: scroll;
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 21px;
  }

  #ram2_slider .form-div input {
    background-color: transparent;
    border: #f0f0f0 1px solid;
    width: 154px;
  }

  #disc2_slider .form-div {
    border: 1px solid #f7e11b;
    padding: 10px;
    margin: 10px;
  }

  #disc2_slider .form-div input {
    background-color: transparent;
    border: #f0f0f0 1px solid;
    width: 154px;
  }

  .form-div {
    border: 1px solid #f7e11b;
    padding: 10px;
    margin: 10px;
  }

  .form-div h3 {
    margin-top: 5px;
  }

  .form-div input {
    background-color: transparent;
    border: #f0f0f0 1px solid;
    width: 154px;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(226, 226, 226);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f7e11b;
    border-radius: 10px;
  }


  form .page .field #salvar_ram:hover {
    background: #000;
    color: #f0f0f0;
  }

  form .page .field #salvar_disc:hover {
    background: #000;
    color: #f0f0f0;
  }

  form .page .field .btnsinfo:hover {
    background-color: transparent;
  }


  form .page .field button:hover {
    background: #000;
    color: #f0f0f0;
  }

  form .page .btns button.prev {
    font-size: 17px;
    position: relative;

  }

  form .page .btns button.next {
    position: relative;
    left: 40vh;
  }

  form .page button.next1 {
    position: relative;
    left: 31vw;
  }

  form .page button.cadastro {

    position: relative;
    left: 27vw;

  }

  /* Fim do formulario de cadastro */

  /* Estilo das inputs */

  .field .input {
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input__field {
    padding: 1rem 1rem 1rem 3rem;
    width: 16.5rem;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #ffffff;
    background-color: transparent;
    outline: 2px solid #f7e11b;
    align-items: center;
  }

  .input__field2 {
    padding: 1rem 1rem 1rem 3rem;
    width: 11.5rem;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #ffffff;
    background-color: transparent;
    outline: 2px solid #f7e11b;
    align-items: center;
  }

  .input__label {
    position: absolute;
    top: 0;
    left: 7vh;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;
  }

  .input__label2 {
    position: absolute;
    top: 0;
    left: 28vh;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;
  }

  .input__label3 {
    position: absolute;
    top: 0;
    left: 32vh;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;
  }

  .input__field:focus-visible~.input__label,
  .input__field:valid~.input__label {
    transform: translate(-7vh, -25px) scale(0.8);
    color: #ffffff;
  }

  .input__field:focus-visible~.input__label2,
  .input__field:valid~.input__label2 {
    transform: translate(-6vh, -25px) scale(0.8);
    color: #ffffff;
  }

  .input__field:focus-visible~.input__label3,
  .input__field:valid~.input__label3 {
    transform: translate(-6vh, -25px) scale(0.8);
    color: #ffffff;
  }

  .input__field:is(:focus-visible, :valid) {
    outline-color: #f7e11b;
  }

  .input_size {
    width: 4rem;
    position: relative;
  }

  .input_mini {
    padding: 1rem 1rem 0.3rem 3rem;
    width: 6rem;
  }

  /* Simbolo das inputs */

  .material-symbols-outlined {
    width: 2rem;
    height: fit-content;
    position: relative;
    top: 1vh;
  }

  .input img {
    position: absolute;
    left: 0.6rem;
    bottom: 0.7rem;
  }

  #logo_estado {
    position: absolute;
    left: 11rem;
  }

  #logo_complemento {
    position: absolute;
    left: 9.1rem;
  }

  footer {
    padding-top: 2rem;
    display: flex;
  }

  .span_copyright {
    text-align: center;
    width: 100%;
    color: white;
    margin-top: -10px;
  }

}

/* responsive */
@media (min-width: 400px) and (max-width: 900px) {
  body {
    margin: 0;
    background-image: url(../assets/bannerLoginV4.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: 72%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .navbar_login {
    padding: 3.4rem 0 2rem 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
  }

  .texto_navbar {
    font-size: 0.55rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  .texto_navbar:hover {
    color: #5a78c4;
    transform: translate(5px)
  }

  .div_logo {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .logo_login {
    width: 70%;
  }

  .inputs_login {
    display: block;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  .btnsinfo {
    width: 20px;
    height: 20px;
    background-color: transparent;
  }

  .input2 {
    display: flex;
    flex-direction: row;
  }

  .inputs_login_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    padding: 2.5rem 2.5rem 0 2.5rem;
  }

  .inputs_login_direita {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    padding: 0.8rem 2.5rem 1rem 2.5rem;
  }

  #input_pais,
  #input_numero {
    margin-bottom: 0.8rem;
  }

  .input_login {
    padding: 0.6rem 0.6rem 0.6rem 2rem;
    width: 12rem;
    background-color: #43537DBD;
    border-radius: 20px;
    border: none;
    display: flex;
    color: white;
    font-size: 0.5rem;
  }

  .input_login::placeholder {
    color: white;
    font-size: 0.5rem;
  }

  .btn_login {
    padding: 0.8rem;
    width: 14.5rem;
    background-color: #5A78C4;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 0.5rem;
  }

  footer {
    padding: 2rem;
    display: flex;
  }

  .span_copyright {
    font-size: 0.7rem;
    text-align: center;
    width: 100%;
    color: white;
  }

  .material-symbols-outlined {
    width: 1.1rem;
    height: 1rem;
  }

  .input {
    position: relative;
    color: white;
  }

  .input img {
    position: absolute;
    left: 8px;
    bottom: 6px;
  }

  #logo_numero {
    bottom: 47px;
  }

  #logo_complemento {
    left: 8px;
  }

  #logo_estado {
    left: 8px;
    bottom: 47px;
  }
}