@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: black;
}

body {
    min-height: 100vh;
    background: var(--clr);
    transition: margin-left 0.5s;
    background-color: rgba(221, 221, 221);
}

/* inicio estilização sidebar */

.sidebar {
    position: absolute;
    width: 80px;
    height: 100vh;
    background-color: #212124;
    transition: 0.5s;
    padding-left: 5px;
    overflow: hidden;
    transition: width 0.5s;
}

.sidebar.active {
    width: 300px;
    z-index: 0;
    position: absolute;
}

.sidebar ul {
    position: relative;
    height: 100vh;
}

.sidebar ul li {
    position: relative;
    list-style: none;
}

.sidebar ul li.active {
    background: rgba(221, 221, 221);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* bordinha redonda */
.sidebar ul li.active::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px rgba(221, 221, 221);
    background: transparent;
}

.sidebar ul li.active::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px rgba(221, 221, 221);
    width: 20px;
    height: 20px;
    background: transparent;
}

.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo .icon {
    font-size: 2em;
    color: var(--clr);
}

.sidebar ul li.logo .text {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 3.5%;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: #fff;
    transition: 0.5s;
}

.sidebar ul li a .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #fff;
    padding-left: 15px;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.sidebar ul li.active a .icon {
    color: black;
}

.sidebar ul li.active a .text {
    color: black;
}

.sidebar ul li:hover a .text {
    color: black;
}

.sidebar ul li:hover a .icon {
    color: black;
}

.sidebar ul li.active a .icon::before {
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
    transition: 0.5s;
}

/* .sidebar ul li::hover.active a .icon::before {
    background: #fff;
} */

.pessoa {
    position: absolute;
    bottom: 0;
    width: 100px;
}

.imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.minimenu {
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    z-index: 1100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimenu::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}

.minimenu::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}

.minimenu.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

.minimenu.active::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #fff;
}

/* fim estilização sidebar */

/* inicio estilização conteúdo da dash */

.foraside {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.foraside .topo {
    display: flex;
    align-items: end;
    margin-left: 17%;
    width: 90%;
    height: 10vh;
    border-radius: 10px;
}

select {
    display: inline-block;
    width: 110%;
    height: 5vh;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5%;
    box-sizing: border-box;
}

.topo .user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 5vh;
    margin-left: 2%;
    color: black;
}

.first-container {
    display: flex;
    width: 90%;
    height: 45vh;
    margin-left: 6.5%;
    justify-content: space-around;
    align-items: center;
}

.kpi {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    flex-direction: column;
    margin-left: 4%;
    width: 24%;
    height: 25vh;
    border-radius: 20px;
    background-color: #212124;
}

.kpi h3 {
    margin-bottom: 0%;
    margin-top: 10%;
    margin-left: 9%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 90%;
    color: #fff;
    font-size: 16px;
}

.kp1 {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin-bottom: 2%;
    height: 45vh;
    margin-left: 5%;
    background-color: #212124;
}

.numbers{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.numbers span{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.registro-container::-webkit-scrollbar {
    width: 12px; 
    height: 48vh !important;
}

.registro-container::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
    border-radius: 15px;
}

.registro-container::-webkit-scrollbar-track {
    background-color: #b2b2b2; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.kp1 h3 {
    margin-bottom: 0%;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 90%;
    color: #fff;
}

.registro-container{
    width: 97%;
    height: 100vh;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.info-r {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 93%;
    height: 5vh;
    font-weight: bold;
    border-bottom: solid #ffffff;
    margin-top: 2%;
    margin-left: 4%;
}

.info-r span {
    font-size: 12px;
    color: #fff;
    margin-right: 6%;
}

.tuplas {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 88%;
    height: 4.8vh;
    font-weight: bold;
    padding-top: 4%;
    background-color: rgba(255, 255, 255, 0.678);
    padding: 10px;
    margin-bottom: 8px;
    margin-left: 5.5%;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
}

.tuplas:hover {
    background-color: #ffffff; 
    transform: translate(0, -2px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tuplas span {
    font-size: 13px;
    color: black;
    margin-right: 6%;
}

.tuplas span:hover{
    color: black;
}

.tuplas button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 26px;
    line-height: 27px;
    width: 105%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.tuplas button:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.table-container{
    width: 97%;
    height: 32vh;
    margin-bottom:10px;
    overflow-y: scroll;
}

.info-m {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 95%;
    height: 5vh;
    font-weight: bold;
    border-bottom: solid #ccc;
    margin-top: 2%;
    margin-left: 2%;
}

.info-m span {
    font-size: 12px;
    color: #fff;
    margin-right: 1%;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5vh;
    font-weight: bold;
    padding-top: 4%;
}

.lines span {
    font-size: 13px;
    margin-left: 5%;
    color: #fff;
}

.lines button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 26px;
    line-height: 27px;
    width: 105%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.lines button:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.lines button:focus {
    border-color: red;
    outline: none;
}

.second-container {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20%;
}

.picos {
    width: 45%;
    height: 49vh;
    margin-left: 6%;
    border-radius: 20px;
    background-color: #212124;
    margin-bottom: 6%;
}

.leftcard {
    width: 46%;
    height: 49vh;
    border-radius: 20px;
    margin-bottom: 6%;
    background-color: #212124;
}

.table-container::-webkit-scrollbar {
    width: 12px; 
    height: 48vh !important;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
    border-radius: 15px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #b2b2b2; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.leftcard h4 {
    margin-bottom: 0%;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 90%;
    color: #fff;
}