@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #000;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #FFF;
}

.janela {
  display: flex;
  width: 96vw;
}

#frts img {
  width: 27px;
  height: 23px;
  margin-left: 14px;
  margin-right: 18px;
}

.perfil {
  width: 80%;
  height: 25vh;
  margin-top: -20%;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D1D20;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sepration button {
  background-color: transparent;
  height: 50px;
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
}

#fist_top {
  margin-top: 20px;
}

#second {
  display: none;
}

#send {
  display: none;
}

.sepration {
  flex-direction: column;
  width: 85%;
  height: 60%;
  border-bottom: 2px solid #F7E11B;
  display: flex;
  align-items: center;
}

.sepration2 {
  flex-direction: column;
  width: 85%;
  height: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sepration2 button {
  background-color: transparent;
  height: 50px;
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-left: 10px;
}

.helpbutton button {
  background-color: transparent;
  border: none;
  margin-left: 15px;
  margin-right: 20px;
}

.helpbutton p {
  margin-left: 15px;
  margin-right: 20px;
}

.sepration button:hover {
  background-color: #F7E11B;
  color: black;
}

.sepration button:hover #first {
  display: none;
}

.sepration button:hover #fst {
  display: none;
}

.sepration button:hover #second {
  display: block;
}

.sepration button:hover #send {
  display: block;
}

.sepration button #first {
  margin-left: 15px;
  margin-right: 20px;
  height: 30px;
  width: 25px;
}

.sepration button #second {
  margin-left: 15px;
  margin-right: 20px;
  height: 30px;
  width: 25px;
}

.sepration button img {
  margin-left: 15px;
  margin-right: 20px;
  height: 25px;
  width: 25px;
}

.dash-right {
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  justify-content: space-around;
  top: 0;
  left: 23%;
}

.header-left h1 {
  color: #ffffff;
}

.dash {
  position: relative;
  top: 0;
  left: 20%;
  width: 82%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.geral {
  display: flex;
  height: 100%;
  width: 100%;

}

.permissoes_usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-left: 200px;
}

.barra {
  border-radius: 0px 20px 20px 0px;
  background: #15151a;
  /* height:100%; */
  width: 279px;
}

.barra li:hover {
  border-radius: 10px;
  background: #F7E11B;
  color: black;
}

.logo img {
  width: 50%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

li {
  height: 40px;
  width: 80%;
}

.marcado {

  border-radius: 10px;
  background: #F7E11B;
  width: 80%;
  color: black;
  height: 40px;

}

.log_out {
  margin-top: 45px;


}

.perfil_usuario .foto {
  background-color: rgb(134, 134, 255);
  border-radius: 20px;
  width: 15%;
  margin-right: 5px;
}

.perfil_usuario {
  margin-top: 25px;
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perfil_usuario select {
  border: none;
  color: white;
  cursor: pointer;

}

.container_permissoes {
  background-color: #1D1D20;
  width: 100%;
  height: 45%;
  margin-bottom: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container_permissoes h2 {
  align-self: start;
  margin-left: 15px;

}

.container_permissoes .usuario {
  margin-left: 40px;
}

.container_mudar_permissoes {
  background-color: #1D1D20;
  width: 100%;
  height: 45%;
  border-radius: 20px;

}

.campos_gerais {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  margin-right: 25%;
}

.campos_preenchidos {
  width: 100%;
  display: flex;
}

.campos_infos {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.campos_infos:hover {
  background-color: rgba(117, 116, 116, 0.342);
  cursor: pointer;
  border-radius: 10px;
}

.campos_preenchidos .deletar {
  width: 4%;
  height: 50%;
  margin-left: 10px;
}

.campos_preenchidos .deletar:hover {
  cursor: pointer;
}



.mudancas {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;

}

li {
  margin-top: 25px;
}

li:hover {
  cursor: pointer;
}

.parte2 {
  display: flex;
  flex-direction: column;
  margin-top: 100%;

}

.botao_salvar {
  display: flex;
  align-items: end;
  justify-content: center;
}

#botao {
  border: 2px solid yellow;
  background-color: transparent;
  color: white;
  width: 200px;
  height: 40px;
}

#botao:hover {
  cursor: pointer;
}


select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

option {
  background-color: rgb(85, 81, 81);
  border: 2px solid purple;
}

.quadradoUm {
  background: #1D1D20;
  border-radius: 20px;
  width: 196px;
  height: 132px;
  margin-top: 21px;
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.separador {
  display: flex;
  /* margin-top: 5%; */
  flex-direction: row;
  justify-content: space-evenly;
}

.conteudoDoQuadradoUm {
  margin: 10px 20px 10px 0px;
  /* align-items: center; */
}

.conteudoDoQuadradoUm p {
  color: aquamarine;
}

.quadradoUm h1 {
  font-size: 15px;
}

.quadradoDois h1 {
  font-size: 15px;
}

/* .quadradoDois {
  background: #1D1D20;
  border-radius: 20px;
  width: 124px;
  height: 132px;
  margin-top: 21px;
  margin-left: 21px;
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 15px;

} */

.flexInterno {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.quadradoTres {
  background: #1D1D20;
  border-radius: 20px;
  width: 94%;
  height: 253px;
  margin-top: 21px;
  padding-top: 1px;
  padding-left: 10px;


}

.espacoEsquerdo {
  display: flex;
  flex-direction: row;
}

.flexExterno {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.separar2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.separar2 h2{
  margin-left: 20px;
  margin-top: 15px;
}
.grafico {
  background: #1D1D20;
  border-radius: 20px;
  width: 97%;
  height: 320px;
  margin-top: 21px;
  margin-left: 14px;
  padding-top: 1px;
  padding-left: 10px;
}

.resultado {
  font-size: 40px;
  margin-left: 75%;
}


#wifi {
  border-radius: 20px;
  margin-left: -2px;
  width: 330px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 120px;
  background-color: #212124;
  font-size: 20px;
}

#status_wifi {
  color: rgb(0, 217, 0);
  margin-top: 5px;
}

/* #wifi img {
    width: 80px;
    height: 50px;
  } */

.sepration_prt1 img {
  width: 80px;
  height: 50px;
}

.sepration_prt1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sepration_prt2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -20px;
}

.sepration_prt1 p {
  margin: 0%;
}

.sepration_prt2 p {
  margin-bottom: 15px;
  font-size: 20px;
}

#card_employee {
  border-radius: 20px;
  width: 95%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 204px;
}

#card_employee h2 {
  margin-bottom: 0%;
  margin-top: 10px;
  display: flex;
  justify-content: left;
  width: 90%;
}

.title {
  margin: 0%;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.title h3 {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0%;
}

.arrangement {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 75%;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.infoemp {
  width: 93.3%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-left: 23px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(226, 226, 226);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}