.crd2_sept {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.crd2_sept img {
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.crd2_sept p {
    margin-right: 20px;
    color: #ffffff;
    margin-top: 20px;
}
#crd2_sept {
    height: 50px;
}

details {
    position: relative;
    margin-top: 10.5px;
  }
  
  details[open] {
    z-index: 1;
  }
  
  summary {
    padding: 1rem;
    cursor: pointer;
    list-style: none;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  summary:after {
    content: '';
    display: inline-block;
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(315deg) translate(50%, 0%);
    transform-origin: center center;
    color: white;
  }
  
  summary:focus {
    outline: none;
  }
  
  details[open] summary:after {
    transform: rotate(135deg) translate(0%, 0%);
  }
  
  ul {
    margin: 0;
  }
  
  li {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  }
  
  li:first-child {
    padding-top: 0;
  }
  
  li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  
  /* FAKE SELECT */
  
  summary.radios {
    counter-reset: radios;
  }
  
  summary.radios:before {
    content: var(--selection);
  }
  
  ul.list {
    counter-reset: labels;
  }
  
  details label {
    width: 200px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    position: absolute;
    top: -30px;
    right: -147px;
  }
  
  label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
  }