@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #000;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    color:#FFF;
}
.geral{
    display:flex;
    height:100%;
    width:100%;

}
.permissoes_usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100%;
    width:50%;
    margin-left: 200px;
}
.barra {
    border-radius: 0px 20px 20px 0px;
    background: #15151a;
    /* height:100%; */
    width:279px;
}
.barra li:hover{
  border-radius: 10px;
  background: #F7E11B;
  color:black;
}
.logo img{
    width:50%;
}
.logo{
    display:flex;
    justify-content: center;
    margin-top:15px;
}
li{
  height:40px;
  width:80%;
}
.marcado{

border-radius: 10px;
background: #F7E11B;
width:80%;
color:black;
height:40px;

}
.log_out{
    margin-top:45px;

 
}
.perfil_usuario .foto {
    background-color: rgb(134, 134, 255);
    border-radius:20px;
    width:15%;
    margin-right:5px;
}
.perfil_usuario{
    margin-top:25px;
    margin-left:35px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.perfil_usuario select{
    border:none;
    color:white;
    cursor:pointer;
    
}

details {
    position: relative;
    margin-right: 1rem;
    margin-top: 10.5px;
  }
  
  details[open] {
    z-index: 1;
  }
  
  summary {
    padding: 1rem;
    cursor: pointer;
    list-style: none;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  summary:focus {
    outline: none;
  }
  
  details[open] summary:after {
    transform: rotate(135deg) translate(0%, 0%);
  }
  
  .list ul {
    margin: 0;
  }
  
  .list li {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  }
  
  .list li:first-child {
    padding-top: 0;
  }
  
  li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  
  /* FAKE SELECT */
  
  summary.radios {
    counter-reset: radios;
  }
  
  summary.radios:before {
    content: var(--selection);
  }
  
  .list ul.list {
    counter-reset: labels;
  }
  
  details label {
    width: 200px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    position: absolute;
    top: -30px;
    right: -127px;
  }
  
  summary:after {
    content: '';
    display: inline-block;
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(315deg) translate(50%, 0%);
    transform-origin: center center;
    color: white;
  }

  label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
  }
.container_permissoes{
background-color: #1D1D20;
    width:100%;
    height:45%;
    margin-bottom: 15px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.container_permissoes h2{
    align-self:start;
    margin-left:15px;

}
.container_permissoes .usuario{
  margin-left:40px;
}
.container_mudar_permissoes{
    background-color: #1D1D20;
     width:100%;
     height:45%;
    border-radius: 20px;

}

.campos_gerais{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    font-size: 13px;
    margin-right: 25%;
}

.campos_preenchidos{
    width:100%;
    display:flex;
}
.campos_infos{
    display:flex;
    width:80%;
    justify-content: space-around;
}
.campos_infos:hover{
        background-color:rgba(117, 116, 116, 0.342);
        cursor:pointer;
        border-radius: 10px;
}
.campos_preenchidos .deletar{
    width:4%;
    height:50%;
    margin-left:10px;
}
.campos_preenchidos .deletar:hover{
    cursor:pointer;
}



.mudancas{
    display:flex;
    justify-content: space-around;
}
ul{
    list-style: none;
    display:flex;
    flex-direction: column;
   
}

li{
    margin-top:25px;
}
li:hover{
    cursor:pointer;
}
.parte2{
    display:flex;
    flex-direction: column;
    margin-top: 100%;

}
.botao_salvar{
display:flex;
align-items: end;
justify-content: center;
}
#botao{
    border:2px solid yellow;
    background-color: transparent;
    color:white;
    width:200px;
    height:40px;
}
#botao:hover{
    cursor:pointer;
}


select{
    background-color: transparent;
    border:none;
    border-bottom:1px solid #FFF;
    font-size:16px;
    margin-top: 20px;
    text-align: center;
    color:white;
}
option{
  background-color:rgb(85, 81, 81);
  border:2px solid purple;
}

.quadradoUm {
    background: #1D1D20;
    border-radius: 20px;
    width: 265px;
    height: 132px;
    margin-top: 21px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.separador{
    display: flex;
    /* margin-top: 5%; */
    flex-direction: row;
    justify-content: space-evenly;
}

.conteudoDoQuadradoUm {
    margin: 10px 20px 10px 0px;
    /* align-items: center; */
}

.conteudoDoQuadradoUm p{
    color: aquamarine;
}

.quadradoUm h1{
    font-size: 15px;
}

.quadradoDois h1{
    font-size: 15px;
}

.quadradoDois {
    background: #1D1D20;
    border-radius: 20px;
    width: 124px;
    height: 132px;
    margin-top: 21px;
    margin-left: 21px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.flexInterno {
    display: flex;
}

.quadradoTres {
    background: #1D1D20;
    border-radius: 20px;
    width: 100%;
    height: 253px;
    margin-top: 21px;
    padding-top: 1px;
    padding-left: 10px;
    
    
}

.flexExterno {
    display: flex;
}
.espacoEsquerdo{
    margin: 0% 1% 0% 21px;
}
.espacoDireito{
    margin: 0% 3% 0% 1%;
}
.grafico {
    background: #1D1D20;
    border-radius: 20px;
    width: 100%;
    height: 288px;
    margin-top: 21px;
    margin-left: 21px;
    padding-top: 1px;
    padding-left: 10px;
}

.resultado {
    font-size: 40px;
    margin-left: 75%;
}


#wifi {
    border-radius: 20px;
    margin-left: -2px;
    width: 330px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 120px;
    background-color: #212124;
    font-size: 20px;
  }

#status_wifi {
    color: rgb(0, 217, 0);
    margin-top: 5px;
  }

/* #wifi img {
    width: 80px;
    height: 50px;
  } */

.sepration_prt1 img {
    width: 80px;
    height: 50px;
}

.sepration_prt1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sepration_prt2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
}

.sepration_prt1 p {
    margin: 0%;
}

.sepration_prt2 p {
    margin-bottom: 15px;
    font-size: 20px;
}

#card_employee {
    border-radius: 20px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 230px;
    background-color: #1D1D20;
  }
  
  #card_employee h2 {
    margin-bottom: 0%;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    width: 90%;
  }
  
  .title {
    margin: 0%;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid grey;
  }
  
  .title h3 {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0%;
  }

  .arrangement {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 75%;
    overflow-y: scroll;
    margin-bottom: 50px;
  }
  
  .infoemp {
    width: 93.3%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-left: 30px;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(226, 226, 226);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
