.header {
    width: 100%;
}

.container {
    display: flex;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: black;
}

.navbar {
    margin-right: 5vh;
    list-style: none;
    display: flex;
    align-items: center;
    color: #FFD700;
    width: 40vh;
}

.header li a {
    color: #FFD700;
    text-decoration: none;
    display: block;
    padding: 1vh 2vh;
    cursor: pointer;
    border: 0.5vh solid;
    border-radius: 0.5vh;
    font-size: 2vh;
}

.header li a:hover {
    color: white;
    transform: scale(1.08);
    transition: 0.4s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    }
