/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*#360736*/


body {
    /*CSS DA PAGINA INTEIRA*/
    margin: 0;
    padding: 0;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    background: #d3d3d3;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFD700;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
}

.header {
    height: var(--tamanho-header);
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

.agora {
    font-weight: 800;
}

.navbar {
    margin-right: 5%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFD700;
    height: 100%;
    width: 17%;
}

.banner {
    border: 1px solid black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%), url(../assets/imgs_power/img_index1.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px black(0, 0, 0, 0.25);
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    text-align: center;
}



.banner button {
    width: 185px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #000;
    cursor: pointer;
    border: 2px solid;
    border-radius: 3px;
    font-size: 12px;
    /* display: inline;
    float: left; */
    
}

.banner button:hover {
    color: #FFD700;
    transform: scale(1.08);
    transition: 0.4s ease-in-out;
}

.banner img {
    width: 20%;
    height: 20%;
    text-align: center;
    align-items: center;
}

.mvv{
    text-align: center;
    font-weight: bold;
    background-color: #d3d3d3;
}

.box {
    background-color: #d3d3d3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin: 0;
}

.box2 {
    background-color: #d3d3d3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin: 0;
}

.box3 {
    background-color: #d3d3d3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin: 0;
}

.missao {
    background-color: black;
    width: 900px;
    height: 200px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.missao p{
    text-align: left;
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.missao span{
    color:#FFD700;
    font-weight: bold;
}

.visao p{
    text-align: left;
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.visao span{
    color: #FFD700;
    font-weight: bold;
}


.visao {
    background-color: black;
    width: 900px;
    height: 200px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.valores {
    background-color: black;
    width: 900px;
    height: 200px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.valores p{
    color: white;
    margin-left: 20px;
    font-weight: bold;
    text-align: left;
}

.valores span{
    color:#FFD700;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.missao img {
    width: 20%;
    height: 40%;
}

.visao img {
    width: 20%;
    height: 40%;
}

.valores img {
    width: 20%;
    height: 40%;
}

.line1 {
    width: 1px;
    height: 100%;
    margin-left: 20px;
    background-color: white;
}

.line2 {
    width: 1px;
    height: 100%;
    margin-left: 20px;
    background-color: white;
}

.line3 {
    width: 1px;
    height: 100%;
    margin-left: 20px;
    background-color: white;
}

.img_teste {
    text-align: center;
    background-color: #d3d3d3;
}

.banner p {
    color: #FFD700;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.header li a {
    color: #FFD700;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 3px;
    font-size: 12px;
}

.header li a:hover {
    color: white;
    transform: scale(1.08);
    transition: 0.4s ease-in-out;
}