@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: #d3d3d3;
}

.divPlanoFundo {
    background: rgb(211, 211, 211);
    /* background: linear-gradient(180deg, rgba(211, 211, 211, 1) 30%, rgba(0, 0, 0, 1) 70%); */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFD700;
    border-radius: 10px;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
    font-size: 17px;
    padding: 10px;
}

.parte1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10vh;
}

.parte1 img {
    display: flex;
    width: 110%;
    height: auto;
    margin-bottom: 12px;
}

.parte2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte2 ul{
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-between;
}

.parte2 li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {

    border-bottom: 4px solid rgb(253, 213, 12);
    transform: scale(1.0);

}

.guardar{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 50%;
    height: 50vh;
    text-align: left;
    margin-left: 10%;
}

.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 100%, rgba(0, 0, 0, 0.80) 100%), url(../css/img/homeb.jpg), lightgray 100% / cover no-repeat;
    background-size: 100%;
    box-shadow: 0px 4px 4px 0px black(0, 0, 0, 0.25);
    text-align: center;
}

.banner button {
    width: 30vh;
    height: 6vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #000;
    cursor: pointer;
    border: 0.5vh solid;
    border-radius: 1vh;
    font-size: 2vh;
}

.banner button:hover {
    color: #FFD700;
    transform: scale(1.08);
    transition: 0.10s ease-in-out;
}

.textoBanner h1{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.textoBanner h1{
    font-size: 25px;
    color: #FFD700;

}

.textoBanner h3{
    color: white;
}

.banner p {
    color: #FFD64F;
    text-align: center;
    font-size: 2.1vh;
    margin-right: 35vh;
    margin-left: 35vh;
    font-weight: bold;
}

.divBoxSobreNos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 100%;
}

.boxSobreNos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 90vw;
}

.divConteudoSobreNos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #ffd64fb7;
}

.divConteudoSobreNos1 {
    background-image: url(img/empresa.jpg);
    width: 80%;
    height: 60vh;
    background-size: cover;
}

.divConteudoSobreNos2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

.divConteudoSobreNos2 p {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    margin: 5vh;
    line-height: 35px;
}

.divConteudoSobreNos2 h1{
    display: flex;
    margin-left: 4%;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    
}

.css-waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.animated-waves>use {
    animation: infinite-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.animated-waves>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.animated-waves>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.animated-waves>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.animated-waves>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes infinite-waves {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* Mobile Optimization */

@media (max-width: 1025px) {

    .textoBanner {
        width: 55vh;
        margin-left: 10vh;
        margin-bottom: 3vh;
    }

    .banner p {
        margin-right: 0;
        margin-left: 0;
    }

    .css-waves {
        height: 40px;
        min-height: 40px;
    }

    .boxSobreNos {
        flex-direction: column;
    }

    .divConteudoSobreNos1 img {
        width: 80%;
        height: 80vh;
    }

    .divConteudoSobreNos2 {
        width: 100%;
        position: relative;
        bottom: 19vh;
    }

    .tituloNossoTrabalho {
        height: 0vh;
    }

    .divConteudoSobreNos2 p {
        font-size: 25px;

    }

}

.divConteudoSobreNos1 img {
    width: 100%;
}

.beneficios {
    text-align: center;
    font-weight: bold;
    color: white;
}

.sobreNos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -15vh;
}

.sobreNos img {
    width: 100%;
    height: 100vh;
}

.sobreNos p {
    font-size: 16px;
    font-weight: bolder;
    text-align: justify;
    margin: 5vh;
}


.numeros {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;

}

.numeros span {
    font-size: 26px;
    font-weight: bold;
}

.numeros p {
    font-size: 20px;
}

.negocios {
    text-align: center;
    padding: 6%;
    font-weight: bold;
    background-color: #ffd64f;
    height: 10vh;
    margin-bottom: 5%;
}

.boxNossoTrabalho {
    width: 100%;
    height: 60vh;
}

.tituloNossoTrabalho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tituloNossoTrabalho span {
    font-size: 35px;
    font-weight: bold;
}

.boxNossoTrabalhoImg {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

.divNossoTrabalhoImg img {
    height: 50vh;
    width: 100%;
    position: relative;
    bottom: 10vh;
}


.boxNossoTrabalhoConteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.boxMonitoramento {
    display: flex;
    align-items: center;

    height: 23vh;
    width: 26vw;
    border: 0.2vh solid black;
    box-shadow: 2vh 2vh #000;
    padding: 2vh;
    border-radius: 0.5vh;
    background-color: rgb(104, 104, 104);

}

.boxMonitoramento p {
    text-align: justify;
    color: white;
}

.boxMonitoramento span {
    font-weight: bold;
}

.BoxMonitoramento:hover {
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

.mvv {
    text-align: center;
    font-weight: bold;
    color: black;
}

.boxMvv {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 100%;
    margin: 0;
}


.mvvbox p {
    text-align: left;
    color: white;
    margin-left: 3vh;
    font-weight: bold;
}

.mvvbox span {
    color: #FFD700;
    font-weight: bold;
}

.mvvbox {
    background-color: black;
    width: 70vw;
    height: 30vh;
    padding: 3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mvvbox:hover {
    transform: scale(1.01);
    transition: 0.4s ease-in-out;
}

.mvvbox img {
    width: 20vh;
    height: 15vh;
}

.line {
    width: 1vh;
    height: 30vh;
    margin-left: 3vh;
    background-color: white;
}

.box {
    display: flex;
    height: 70vh;
    width: 90%;
    justify-content: center;
    align-items: center;
}


.divBoxRodaPe {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
}

.divTituloRodaPe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.divTituloRodaPe span {
    font-size: 22px;
    color: gold;
    font-weight: bold;
}

.divBoxConteudoRodaPe {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 90%;


}

.divConteudo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-weight: bold;
    border-radius: 3vw 0vw 0vw 3vw;
    background-color: azure;
}

.divBoxConteudo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 0vw 3vw 3vw 0vw;
    background-color: rgb(0, 0, 0);
}

.textoConteudo2 {
    display: flex;
    width: 50%;

    background-color: rgb(0, 0, 0);
}

.textoConteudo2 span {
    color: white;
}

.clip {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.svg--source {
    display: none
}

.svg--icon {
    width: 100%;
    max-width: 5rem;
    height: 100%;
    max-height: 5rem;
    display: block;
    margin: 0 auto;
    fill: currentColor
}

.wrapper {
    width: 100%;
    height: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* background-color: #00ACED; */
}

.share {
    width: 2rem;
    height: 2rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;

    &:last-child {
        margin-right: 0
    }


    &:focus {
        outline-color: inherit;
    }
}

.twitter {

    &:hover,
    &:focus {
        color: #00ACED;
        box-shadow: 0 0 24px 0 #00ACED
    }
}

.github {

    &:hover,
    &:focus {
        color: #4183c4;
        box-shadow: 0 0 24px 0 #ffffff
    }
}



.facebook {

    &:hover,
    &:focus {
        color: #3e78f5;
        box-shadow: 0 0 24px 0 #6495ff
    }
}

.google {

    &:hover,
    &:focus {
        color: #dd4b39;
        box-shadow: 0 0 24px 0 #dd4b39
    }
}






/* Carrossel BENEFÍCIOS QUE SÓ A POWER TECH SOLUTIONS PODE OFERECER */
.divBoxSlider {
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100%;


}


.boxSlide {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;

}

.boxTitulo {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    white-space: nowrap;

}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;


}

.divLinhaSepara {
    width: 0.2%;
    height: 85%;
    background-color: white;

}

.boxConteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;


}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 95%;


}


.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 50%;
    border: 0.2vh solid black;
    box-shadow: 2vh 2vh #000;
    background-color: rgb(86, 86, 86);
}



.titulo span {
    color: gold;
    font-size: 18px;
    font-weight: bold;
}

.conteudo span {
    color: gold;
}

.txt p {
    text-align: justify;
    font-size: 17px;
    color: white;
}

.slider {
    margin: 0 auto;
    height: 400px;
    width: 100%;
    padding: 0;

    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;

}

.slides input {
    display: none;
}

.slide,
#primerioSlide {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    transition: all 3s ease-in;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 3%;
}

.manual-btn:hover {
    background-color: #FFD700;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

#radio5:checked~.first {
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 3%;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: black;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: black;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: black;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: black;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background-color: black;
}

/* Carrossel BENEFÍCIOS QUE SÓ A POWER TECH SOLUTIONS PODE OFERECER Final */

/* Carrossel  FEEDBACKS */

/* .sliderFeedBack {
    margin: 0 auto;
    height: 400px;
    width: 100vw;
    padding: 0;

    overflow: hidden;

}

.boxImgFeedBack {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background-color: #3b5998;
}

.imgFeedBack {
    width: 7vw;
    height: 14vh;
    background-color: #000;
}

.divNomeFeedBack {
    background-color: #d3d3d3;
    /* margin-top: 2vh; */
/* width: 7vw;
    height: 3vh;
}

.divBoxNotaFeedBack{
    display: flex;
    flex-direction: row;
    background-color: #ff0000;
    
    width: 7vw;
    height: 3vh;
}
.divNotaFeedBack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;

background-color: #00ACED;
}
.divEstrela{
    width: 30vw;
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #f3f3f3;
}

.txtFeedBack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
    height: 60%;

    background-color: #d3d3d3;
}

.slideFeedBack, #primerioSlide {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    transition: all 3s ease-in;
}

.manual-btnFeedBack {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btnFeedBack:not(:last-child) {
    margin-right: 3%;
}

.manual-btnFeedBack:hover {
    background-color: #FFD700;
}

#radioFeedBack1:checked~.first {
    margin-left: 0%;
}

#radioFeedBack2:checked~.first {
    margin-left: -25%;
}

#radioFeedBack3:checked~.first {
    margin-left: -50%;
}

#radioFeedBack4:checked~.first {
    margin-left: -75%;
}

#radioFeedBack5:checked~.first {
    margin-left: -100%;
}

.navigation-autoFeedBack div:not(:last-child) {
    margin-right: 3%;
}

#radioFeedBack1:checked~.navigation-autoFeedBack .auto-btnFeedBack1 {
    background-color: black;
}

#radioFeedBack2:checked~.navigation-autoFeedBack .auto-btnFeedBack2 {
    background-color: black;
}

#radioFeedBack3:checked~.navigation-autoFeedBack .auto-btnFeedBack3 {
    background-color: black;
}

#radioFeedBack4:checked~.navigation-autoFeedBack .auto-btnFeedBack4 {
    background-color: black;
}

#radioFeedBack5:checked~.navigation-autoFeedBack .auto-btnFeedBack5 {
    background-color: black;
} */

/* carrossel FEEDBACKS final */