/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    /*CSS DA PAGINA INTEIRA*/
    margin: 0;
    padding: 0;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(black, gray);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFD700;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
}

.header {
    height: var(--tamanho-header);
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    background-color: black;
    /* background-color: #570453; */
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 15%;
    margin-right: 5%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: yellow;
    height: 100px;
}

.titulo_img {
    margin-left: 2rem;
    margin-top: -0.5rem;
    height: 175%;
    display: flex;
    justify-content: left;
}

.texto_imagem {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.479);
    color: #FFD700;
    padding: 10px;
    border-radius: 10px;
    font-size: 38px;
    font-weight: bold;
}

.texto_imagem:hover {
    transform: scale(1.01);
    transition: 0.8s ease-in-out;
}

.texto_imagem p {
    color: white;
    font-size: 20px;
}

.banner {
    position: relative;
}

.banner img {
    height: 100%;
    width: 100%;
}

.boxes_pilares {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.boxes_pilares h2 {
    color: black;
}

.boxes_pilares img {
    width: 50%;
    height: 50%;
}

.boxes h1 {
    color: #FFD700;
    font-weight: bold;
    font-size: 30px;
}

.boxes {
    text-align: center;
}

.boxes img {
    margin-top: -7rem;
}

.header li a {
    color: #FFD700;
    text-decoration: none;

    display: block;
}

.header li a:hover {
    margin-top: 2%;
    border-radius: 10%;
    color: white;
    transform: scale(1.08);
    transition: 0.4s ease-in-out;
}

.titulo_img img {
    border-radius: 50%;
}