@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b0082;
    flex-direction: column;
}

.container-login{
    width: 60%;
    height: 96.7vh;
    background-color: #4b0082;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}

.esquerda-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda-login h1 {
    color: #ffd700;
    font-size: 3vh;
}

.img-login{
    width: 50vh;
}

.direita-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(140, 28, 188);
    border-radius: 3vh;
    box-shadow: 0vh 1vh 3vh rgb(20, 14, 31);
}

.card-login h1{
    color: goldenrod;
    font-weight: 800;
    margin: 0;
}

.preencher-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1vh 0vh;
}

.preencher-login input {
    width: 100%;
    border: none;
    border-radius: 1vh;
    padding: 15px;
    background-color: rgb(105, 36, 170);
    color: rgb(242, 232, 176);
    font-size: 12pt;
    box-shadow: 0vh 0.8vh 3vh rgb(0, 0, 0);
    box-sizing: border-box;
}

.preencher-login label {
    color: rgb(255, 255, 255);
    margin-bottom: 1vh;
}

.preencher-login input::placeholder{
    color: #8f8f8f;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 1vh;
    outline: none;
    font-weight: 800;
    letter-spacing: 0.3vh;
    color: rgb(67, 19, 109);
    background-color: rgb(210, 191, 79);
    cursor: pointer;
    box-shadow: 0vh 1vh 4vh -1.2vh rgb(232, 241, 162);
}

.btn-login:hover{
    box-shadow: 0vh 2vh 6vh -1.2vh #000000;
}
