@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    flex-direction: column;
    background-image: url("../assets/imgs_power/img_index1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.container-login{
    width: 60%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh 5vh 5vh 5vh;
    position: absolute;
    top: 9vh;
}

.img-login{
    width: 100%;
    height: 80%;
    border-radius: 2vh;
}


.card-login{
    width: 70%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 3vh;
    box-shadow: 0vh 1vh 3vh rgb(20, 14, 31);
}

.card-login h1{
    color: gold;
    font-size: 6vh;
    margin: 8;
   
}

.format-login{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.preencher-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh 0vh;
}

.preencher-login input {
    width: 60%;
    height: 5vh;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 12pt;    
    box-sizing: border-box;
    border-bottom: 2px solid rgb(255, 255, 255);
   
}
.preencher-login input:focus{
    border-style: 0 none;
    outline: 0;
}

.preencher-login input::placeholder{
    color: #4e4c4c;
}

.btn-login{
    width: 60%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 1vh;
    outline: none;
    font-weight: 800;
    letter-spacing: 0.3vh;
    color: rgb(6, 6, 6);
    background-color: rgb(251, 221, 53);
    cursor: pointer;
    box-shadow: 0vh 1vh 14px -1.2vh rgb(255, 255, 255);
}

.btn-login:hover{
    box-shadow: 0.5vh 0.5vh 2vh -0.5vh #000000;
}

a{
    text-decoration: none;
    color: #000000;
}

/* scrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFD700;
}

@media only screen and (max-width: 768px) {  
   
    .img-login{
        width: 100%;
    }

    .container-login {
      width: auto;
      top: 5vh;
      margin: 0;
    }
 
    .card-login {
      width: auto;
      height: auto;
      margin: 0;
    }
 
    .preencher-login input {
      width: 100%;
    }
  }
 
  @media only screen and (max-width: 1024px) {  
   
   
    .container-login {
      width: 80%;
      top: 5vh;
    }
 
    .card-login {
      width: 80%;
      height: auto;
    }
 
    .preencher-login input {
      width: 70%;
    }
  }