@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora:wght@500&family=Montserrat&family=Red+Hat+Display&display=swap');
@media only screen and (max-width: 768px) {
    body{
        background: linear-gradient(to top, rgb(253, 213, 12) 0%, rgb(253, 213, 12) 48%, white 24%, white 100%);
    }

    .your-container{
        margin-top: 16vh;
    }
    .animated-waves {
        margin-bottom: 20px;
    }
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 31px 10px 31px;
    }
    #part1 img{
        display: flex;
        width: 172%;
        height: auto;
        margin-bottom: 15px;
        margin-left: 12px;
    }
    #part2 ul{
        width: 38vw;
    }
    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #white {
        position: absolute;
        left: 47%;
        transform: translateX(-39%);
        width: 71%;
        height: 68vh;
        margin-top: 5%;
        /* margin-bottom: 23%; */
        background-color: rgb(244, 240, 240);
        margin-left: 2%;
    }

    #log {
        margin-top: 12%;
        margin-left: 48%;
    }

    #black {
        left: 2%;
        bottom: 14.5%;
        width: 39%;
        background-color: #ffd64f;
    }

    #picture_black {
        width: 250px;
    }

    #text h1 {
        font-size: 20px;
    }

    #text h3 {
        font-size: 15px;
    }

}

/* body {
    /* margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient( to top, rgb(253, 213, 12) 0%, rgb(253, 213, 12) 50%, white 50%, white 100% );
    width: 100%;
    height: 100vh; */
/* } */

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to top, rgb(253, 213, 12) 0%, rgb(253, 213, 12) 48%, white 24%, white 100%);
    min-height: 100vh;
}

.your-container {
    position: relative;
    width: 100%;
    height: 90vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.animated-waves>use {
    animation: infinite-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.animated-waves>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.animated-waves>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.animated-waves>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.animated-waves>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes infinite-waves {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


.divPlanoFundo {
    background: rgb(211, 211, 211);
    /* background: linear-gradient(180deg, rgba(211, 211, 211, 1) 30%, rgba(0, 0, 0, 1) 70%); */
}

.aqui {
    border-bottom: 4px solid rgb(253, 213, 12);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFD700;
    border-radius: 10px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-size: 17px;
    /* padding: 10px 31px 10px 31px; */
    padding: 10px 152px 10px 150px;
}

.parte1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10vh;
}

.parte1 img {
    display: flex;
    width: 110%;
    height: auto;
    margin-bottom: 15px;
}

.parte2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte2 ul {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    /* width: 38vw; */
    width: 19.5vw;
    justify-content: space-between;
    padding-inline-start: 0px;
}

.parte2 li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {

    border-bottom: 4px solid rgb(253, 213, 12);
    transform: scale(1.0);

}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preto {
    position: absolute;
    left: 12%;
    bottom: 10%;
    width: 30%;
    height: 50vh;
    background-image: url(../css/img/homeb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5.5%;
    margin-left: 5%;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: #1212128a;
    display: flex;
    justify-content: center;
}
.preto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 40%) 0px 10px 20px, rgb(0 0 0 / 40%) 0px 6px 6px;
}

.preto img {
    width: 119px;
}

.textinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    color: rgb(255, 255, 255);
}

.textinho h1 {
    font-size: 23px;
    margin-top: 40%;
    font-family: 'Red Hat Display', sans-serif;
    padding: 0px 10px;
    margin: 0;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    margin-top: 10px;
}

.textinho span {
    margin: 0%;
}

.textinho h3 {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0;
    text-shadow: 2px 2px 3px black;
    text-align: center;
}

.branco {
    position: absolute;
    left: 52%;
    transform: translateX(-39%);
    width: 44%;
    height: 71vh;
    margin-bottom: -27%;
    background-color: rgb(244, 240, 240);
    margin-left: 2%;
    box-shadow: rgb(0 0 0 / 40%) 0px 10px 20px, rgb(0 0 0 / 40%) 0px 6px 6px;
}

.log_info {
    margin-top: 15%;
    text-align: start;
    width: 40%;
    height: 40vh;
    margin-left: 36%;
    min-width: 30%;
    font-size: 15px;
    font-weight: bold;
}

.log_info a {
    color: #000000;
    align-self: center;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.log_info p {
    align-self: center;
    font-size: 13px;
    font-weight: normal;
}

.log_info h1 {
    align-self: flex-start;
    margin-bottom: 20px;
    margin: 5px;
    padding-bottom: 12%;
}

.log_info input {
    background-color: #ffffff;
    border: none;
    margin: 10px 0;
    box-shadow: 1px 2px 5px#7e7d7d;
    width: 20vw;
    height: 4.5vh;
    padding-left: 2%;
}

.log_info input:hover {
    border: none;
    outline: none;
}

.botao_entrar {
    display: flex;
    align-items: center;
    color: white;
    background-color: #0f0f0f;
    border: 2px solid #0f0f0f;
    box-shadow: 4px black;
    padding: 8px 30px;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 8%;
}

.botao_entrar:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition-duration: 1s;
}

.log_info input:focus {
    outline: none;
}

.log_info input {
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: start;
}