@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: 0;
    color: white;
}

.div_geral {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: -1;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-top: 25px;
}


.box_lista {
    width: 80%;
    margin-left: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1C22;
    border-radius: 13px;
}

.box_lista span {
    font-size: 20px;
}



.janelas {
    width: 70%;
    padding: 4px;
}

#func {
    width: 70%;
    height: 130px;
    display: flex;
    padding: 10px;
    background-color: #1A1C22;
    border-radius: 13px;
    justify-content: center;
}


#func img {
    align-self: center;
}

.alinhar {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    /* align-items: center; */
}


#perfil {
    width: 80px;
    height: 80px;
}

.total {
    background-color: #1A1C22;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100px;
    margin-top: 10px;
}

.parte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #qntd {
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 1px solid white;
} */

.cpu {
    background-color: #1A1C22;
    border-radius: 13px;
    width: 35%;
    height: 70px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#estado_cpu {
    color: #05FF00;
}

.graficos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    width:100%;
}

.graficos span {
    font-size: 20px;
}

#myChart_CPU {
    background-color: #1A1C22;
    border-radius: 13px;
    align-self: center;
    width: 100%;
    height: 300px;
}

::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    cursor:pointer;
    padding:15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A1C22;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    cursor: pointer;
    border-radius:13px;
    /* -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);  */
}

.option {
    padding: 10px;
}

.dropdown-content .option:hover {
    background-color: gold;
    border-radius: 10px;
    -webkit-transition: all 400ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 400ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 400ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 400ms ease-in;
    transform: scale(1.1);
    color:black;
    cursor:pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover{
    display:block;
}
#voltar{
    width: 50px;
    height: 50px;
}
.info_user{
    border-bottom:2px solid white;
    margin-bottom:10px;
}
#card_func{
    width:38%;
    height: 300px;
    background-color: #1A1C22;
    border-radius: 13px;
    padding:10px;
    text-align: center;
}

.listagem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor:pointer;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#arrangement {
    width: 100%;
    height: 170px;
    overflow-y: scroll;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
}
.geral_lista{
    width: 100%;
    height: 170px;
    overflow-y: scroll;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid white;
}
#selecionar_maquina{
    background-color: #1A1C22;
    border-radius:10px;
    border:2px solid yellow;
    padding:10px;
}
