@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: black;
}

body{
    min-height: 100vh;
    background: var(--clr);
    transition: margin-left 0.5s;
}

.sidebar{
    position: absolute;
    width: 80px;
    height: 110vh;
    background-color: #212124;
    transition: 0.5s;
    padding-left: 5px;
    overflow: hidden;
    transition: width 0.5s;
}

.sidebar.active{
    width: 300px;
    z-index: 0;
    position: absolute;
}

.sidebar ul{
    position: relative;
    height: 100vh;
}

.sidebar ul li{
    position: relative;
    list-style: none;
}

.sidebar ul li.active{
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* bordinha redonda */
.sidebar ul li.active::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
    background: transparent;
}

.sidebar ul li.active::after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--clr);
    width: 20px;
    height: 20px;
    background: transparent;
}

.sidebar ul li.logo{
    margin-bottom: 50px;
}

.sidebar ul li.logo .icon{
    font-size: 2em;
    color: var(--clr);
}

.sidebar ul li.logo .text{
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
    margin-top: 3.5%;
}

.sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: #fff;
    transition: 0.5s;
}

.sidebar ul li a .text{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #fff;
    padding-left: 15px;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.sidebar ul li.active a .icon{
    color: black;
}

.sidebar ul li.active a .text{
    color: #fff;
}

.sidebar ul li:hover a .text{
    color: #fff;
}

.sidebar ul li:hover a .icon{
    color: black;
}

.sidebar ul li.active a .icon::before{
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
    transition: 0.5s;
}

.sidebar ul li::hover.active a .icon::before{
    background: #fff;
}

.pessoa{
    position: absolute;
    bottom: 0;
    width: 100px;
}

.imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.minimenu{
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    z-index: 1100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimenu::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}

.minimenu::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}

.minimenu.active::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

.minimenu.active::after{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0  #fff;
}

/* dash body */

.foranav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* background-color: white; */
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin-top: 5%;
    height: 30vh;
    width: 50%;
}


.kps-container{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
}

.kpi{
    width: 15%;
    height: 40vh;
    border-radius: 20px;
    margin-top: 10%;
    background-color: #212124;
}

 .kp1{
    margin-left: 7%;
    margin-top: 10%;
    width: 40%;
    height: 45vh;
    border-radius: 20px;
    background-color: #212124;
}

#card_employee {
    height: 295px;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#card_employee h2 {
    margin-bottom: 0%;
    margin-top: 3.5%;
    display: flex;
    justify-content: left;
    width: 90%;
    color: #fff;
}

.title {
    margin: 0%;
    display: flex;
    margin-right: 2%;
    width: 91.5%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.title h3 {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0%;
    color: #fff;
}

.arrangement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    overflow-y: scroll;
    margin-bottom: 23px;
}

.infoemp {
    width: 93%;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-left: 20px;
    color: #fff;
    margin-top: 2%;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #212124;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.elements {
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elements2 {
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.alerts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 86vh;
    border-radius: 20px;
}

#reminder {
    border-radius: 20px;
    margin-left: 35px;
    width: 422px;
    flex-direction: column;
    display: flex;
    text-align: left;
    justify-content: center;
    height: 120px;
    font-size: 20px;
    margin-top: 5%;
}

#reminder p {
    margin: 0%;
    margin-left: 25px;
}


.lista{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-top: 7%;
    margin-bottom: 7%;
    /* background-color: red; */
}

.process{
    margin-left: 4.8%;
    width: 46%;
    height: 45.5vh;
    border-radius: 20px;
    background-color: #212124;
}

.leftcard{
    width: 40%;
    height: 45vh;
    border-radius: 20px;
    background-color: #212124;
    display: flex;
    justify-content: center;
}

.leftcard h3{
    margin-bottom: 0%;
    margin-top: 5%;
    display: flex;
    justify-content: left;
    width: 90%;
    color: #fff;
}