/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_form {
  display: flex;
  margin-left: 350px;
}

.div_form2 {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  color: white;
}

.div_form2 input {
  border: 2px solid #656565;
  padding: 15px 30px;
  text-align: center;
}

#textarea_descricao {
  width: 400px;
  height: 100px;
}

.container2 h1 {
  margin-top: 20px;
  color: white;
}

.div_form2 button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  border-color: 2px solid white;
  background-color: transparent;
  width: 120px;
  margin-left: 50px;
  margin-top: 10px;
}

.dash-right .avisos .container .div_form {
  width: 100%;
}

.dash-right .avisos .container .div_form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div_form label {
  width: 100%;
}

.dash-right .avisos .div_form input {
  width: 50%;
}

.dash-right .avisos .div_form textarea {
  width: 60%;
  height: 150px;
  /* color: #E6005A; */
  border: 3px solid #656565;
  background-color: white;
}

.dash-right .avisos .div_form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  border-color: 2px solid white;
  background-color: transparent;
  width: 120px;
  margin-left: 250px;
  margin-top: 10px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  border-color: 2px solid white;
  background-color: transparent;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid goldenrod;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  position: relative;
  top: 0;
  left: 20%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 550px;
  width: 100%;
  color: white;
}

#sept {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#row_sept {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

#card_employee {
  border-radius: 20px;
  width: 793px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 350px;
  background-color: #212124;
}

#card_employee h2 {
  margin-bottom: 0%;
  margin-top: 10px;
  display: flex;
  justify-content: left;
  width: 90%;
}

.title {
  margin: 0%;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.title h3 {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0%;
}

.arrangement {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 75%;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.infoemp {
  width: 93.3%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-left: 30px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(226, 226, 226);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

#wifi {
  border-radius: 20px;
  margin-left: -2px;
  width: 330px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 120px;
  background-color: #212124;
  font-size: 20px;
}

#wifi img {
  width: 100px;
  height: 80px;
}

.sepration_prt1 {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sepration_prt2 {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #F7E11B;
}

.sepration_prt1 p {
  margin: 0%;
  margin-bottom: 10px;
}

.sepration_prt2 p {
  margin: 0%;
}

#status_wifi {
  color: rgb(0, 217, 0);
  margin-top: 5px;
}

#reminder {
  border-radius: 20px;
  margin-left: 35px;
  width: 422px;
  flex-direction: column;
  display: flex;
  text-align: left;
  justify-content: center;
  height: 120px;
  background-color: #212124;
  font-size: 20px;
}

#reminder p {
  margin: 0%;
  margin-left: 25px;
}

#calendar {
  border-radius: 20px;
  margin-left: 2%;
  width: 392px;
  height: 483px;
  background-color: #212124;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card2 {
  border-radius: 20px;
  width: 1209px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 500px;
  background-color: #212124;
}

.card2 p {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 300px;
  text-align: left;
}

.crd2_sept {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#log {
  width: 20px;
  border-radius: 30px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

#log:hover {
  width: 20px;
  border-radius: 30px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.crd2_sept img {
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.crd2_sept p {
  margin-right: 20px;
  color: #ffffff;
  margin-top: 20px;
}

.card p {
  font-weight: lighter;
  text-align: left;
}

.dropdown_selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  margin-right: 20px;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid goldenrod 2px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  display: none;
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

/* .btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
} */

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

#crd2_sept {
  height: 100px;
}

#chartuso1 {
  position: relative;
  margin-right: 1rem;
  margin-top: 6.5px;
}

#chartuso1[open] {
  z-index: 1;
}

#chartuso2 {
  cursor: pointer;
  list-style: none;
  font-size: 10px;
  height: 20px;
  width: 138px;
}

#chartuso2 p {
  font-size: 20px;
  margin: 0%;
}

#chartuso2::-webkit-details-marker {
  display: none;
}

#chartuso1[open] #chartuso2:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

#chartuso2:after {
  content: '';
    display: inline-block;
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(135deg) translate(50%, 0%);
    transform-origin: center center;
    color: white;
    top: 25px;
    position: absolute;
    right: 5px;
}

#chartuso2:focus {
  outline: none;
}

#chartuso1[open] #chartuso2:after {
  transform: rotate(315deg) translate(0%, 0%);
}

ul {
  margin: 0;
}

li {
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

#chartuso2.radios {
  counter-reset: radios;
}

#chartuso2.radios:before {
  content: var(--selection);
}

input[type=radio] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type=radio]:checked {
  display: inline;
  --display: block;
}

input[type=radio]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

ul.list {
  counter-reset: labels;
}

#chartuso1 label {
  width: 155px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  position: absolute;
  top: 52px;
  right: 1px;
  height: 45px;
  align-items: center;
  font-size: 20px;
  background-color: #ffffff45;
  border-top: 2px solid gold;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}

