@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.perfil {
  height: 163px;
  width: 185px;
  display: flex;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.rows {
  text-align: center;
  color: #fff;
}

.header {
  border-bottom: 3px solid goldenrod;
}

.header .container {
  justify-content: space-around;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #ffffff;
  width: fit-content;
  font-weight: 500;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: white;
  background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo {
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}


/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}
.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

details {
  position: relative;
  margin-top: 10.5px;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: '';
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(315deg) translate(50%, 0%);
  transform-origin: center center;
  color: white;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(135deg) translate(0%, 0%);
}

ul {
  margin: 0;
}

li {
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

ul.list {
  counter-reset: labels;
}

details label {
  width: 200px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  position: absolute;
  top: -30px;
  right: -147px;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}

/* FORMULARIO */

/* .alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
} */

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario input {
  margin-bottom: 10px;
  border: 2px solid #656565;
  padding: 10px;
  text-align: center;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  border-color: 2px solid white;
  background-color: transparent;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 96vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D1D20;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  /* border: 3px solid pink; */
}

.sepration button {
  background-color: transparent;
  height: 50px;
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
}

#fist_top {
  margin-top: 20px;
}

#second {
  display: none;
}

#send {
  display: none;
}

.sepration {
  flex-direction: column;
  width: 85%;
  height: 60%;
  border-bottom: 2px solid #F7E11B;
  display: flex;
  align-items: center;
}

.sepration2 {
  flex-direction: column;
  width: 85%;
  height: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sepration2 button {
  background-color: transparent;
  height: 50px;
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-left: 10px;
}

.helpbutton button {
  background-color: transparent;
  border: none;
  margin-left: 15px;
  margin-right: 20px;
}

.helpbutton p {
  margin-left: 15px;
  margin-right: 20px;
}

.sepration button:hover {
  background-color: #F7E11B;
  color: black;
}

.sepration button:hover #first {
  display: none;
}

.sepration button:hover #fst {
  display: none;
}

.sepration button:hover #second {
  display: block;
}

.sepration button:hover #send {
  display: block;
}

.sepration button #first {
  margin-left: 15px;
  margin-right: 20px;
  height: 30px;
  width: 25px;
}

.sepration button #second {
  margin-left: 15px;
  margin-right: 20px;
  height: 30px;
  width: 25px;
}

.sepration button img {
  margin-left: 15px;
  margin-right: 20px;
  height: 25px;
  width: 25px;
}

.dash-right {
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  justify-content: space-around;
  top: 0;
  left: 23%;
}

.header-left h1 {
  color: #ffffff;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
}

.hello h3 span {
  font-weight: 800;
  color: gold;
}

.hello a {
  margin-bottom: 20px;
}

.btn-nav-white {
  width: 40%;
  text-align: center;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: transparent;
  border-color: 2px #fff;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}
